.nav-link:hover {
    background: gold !important;
    font-weight: bold;
    
}
.nav-link.active {
    background-color: gold !important;
    color: black !important;
    font-weight: bold;
    
}
.nav-text{
    font-weight: bold;
}
.tooltip {
    
    color: #ff0;
    font-size: 16px;
    border: 4px solid gold;
    border-radius: 8px;
}
